@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: rgb(0, 0, 0);
    color: white
}
       
h1 {
    background-color: rgb(128, 117, 104);
    padding: 20px 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 10px 10px 25px rgb(17, 1, 1);
    transition: 1s ease;
    color: white
}    
h1:hover {
    font-size: 50px;
}

p {
    text-align: center;
    background-color:  rgb(128, 117, 104);
    padding: 20px 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgb(17, 1, 1);
    color: white;
    font-family: "Roboto";
}

p:hover {
    font-size: 25px;
    transition: 0.3s;
}

.dropdown {
  position: relative;
  display:flex;
  justify-content: center;
  margin: 0;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.dropdown:hover .dropdown-content {
  max-height: 200px;
}

.main-image {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.transparent-image {
  opacity: 0.5;
}