@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: rgb(0, 0, 0);
    color: white
}
       
h1 {
    background-color: rgb(128, 117, 104);
    padding: 20px 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 10px 10px 25px rgb(17, 1, 1);
    transition: 1s ease;
    color: white
}    
h1:hover {
    font-size: 50px;
}

p {
    text-align: center;
    background-color:  rgb(128, 117, 104);
    padding: 20px 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgb(17, 1, 1);
    color: white;
    font-family: "Roboto";
}


.dropdown {
    position: relative;
    display:flex;
    justify-content: center;
    margin: 0;
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.dropdown:hover .dropdown-content {
  max-height: 100px;
}

.transparent-image {
  opacity: 0.5;
}

.Aot-image {
  display: flex;
  justify-content: end;
  flex-direction: row;
  width: 1000px;
  height: 500px;
}

.header {
  font-size: 18px;
  padding: 15px 30px;
  background-color: rgb(128, 117, 104);
  border-radius: 30px;
  text-decoration: none;
}

.cyber-punk {
  display: flex;
  justify-content: end;
  flex-direction: row;
  position: absolute;
  right: 1%;
  width: 1000px;
  height: 500px;
}

.cyber-text{
 position: absolute;
 width: 500px;
 height: 100px;
 left: 25%;
}