body{
    background-color: rgb(105, 6, 6);
}
       
h1 {
    background-color: rgb(128, 117, 104);
    padding: 20px 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgb(17, 1, 1);
    transition: 1s ease;
    color: gb(105, 6, 6);
}    

h1:hover {
    font-size: 50px;
}

h2 {
    text-align: center;
    background-color:  rgb(128, 117, 104);
    padding: 20px 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgb(17, 1, 1);
    transition: 1s ease;
    color: gb(105, 6, 6);
}
        
h2:hover {
    font-size: 50px;
}